<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actualizar.js"></script>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/style copy.css">
</head>
<body>
    <h1>Consultar Las lineas de Credito</h1>
    <table class="registros">
        <thead>
            <tr> 
                <th>Codigo de Linea</th>
                <th>Nombre de Linea</th>
                <th>Monto Maximo de Credito</th>
                <th>PLazo maximo Credito</th>
              
            </tr>
        </thead>
        <tbody>
            <% datoslicre.forEach(function (datoslicre){ %>
        <tr>
            <td><input type="text" value="<%=datoslicre.codlinea%>" name="codlinea" readonly></td>
            <td><input type="text" value="<%=datoslicre.nomlinea%>" name="nomlinea" readonly></td>
            <td><input type="text" value="<%=datoslicre.montomaxicredito%>" name="montomaxicredito" readonly></td>
            <td><input type="text" value="<%=datoslicre.plazomaxcred%>" name="plazomaxcred"  readonly></td>
        
            


        </tr>
        <%})%>
    </tbody>
    </table>
</body>
</html>