h1{
    font-size: 50px;
    color:rgb(77, 158, 168);
    width: auto;
    text-align: center;
  
}


.conttitulo{
    width: 100%;
    background-image: url("../img/fondo-secundario.jpg");
    height: 150px;
}




.menu{
    float: left;
    word-spacing: 20px;
    margin-left:33%;
    font-size: 24px;  
}

li{
    display: inline;
    margin: 5px;
    
}
a{
    color: white;
    font-family: "robotoregular";
    text-decoration: none;
    
    
}




